<h1>Vehicles WayPoints</h1>
<div id=vehicle_div>
  <table class="table table-striped">
    <tr>
      <tr></tr>
      <thead>
          <tr>
          <th>Name </th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Sent At</th>
          </tr>
      </thead>

      <% @waypoints.each do |waypoint|%>
          <tr>
          <td><%= waypoint.vehicle.identifier %></td>
          <td><%= waypoint.latitude %></td>
          <td><%= waypoint.longitude %> </td>
          <td><%= waypoint.sent_at %></td>
          </tr>
      <% end %>
    </tr>

  </table>

  <div id="map" >
  <%= javascript_pack_tag 'maps', media: 'all', 'data-turbolinks-track': 'reload' %>
  </div>  

</div>

